<div id="music-categorie-artist" class="pure-u-1-5">
</div>

<div id="music-artist-album-track" class="pure-u-4-5">
	<div id="music-artist" class="width-100p"></div>
	<div class="pure-g-r">
		<div id="music-artist-album" class="pure-u-1-2"></div>
		<div id="music-track" class="pure-u-1-2"></div>
	</div>
</div>
