<h2>{{ locale "player" }}</h2>

<audio controls class="audioPlayer">
  <source src="http://31.37.104.42:4040/rest/stream.view?u=aurelien&p=Leeloo99&v=1.9.0&f=jsonp&c=subsonicapp&id=15337" type="audio/mpeg">
</audio>
</br>

<div>
	<div id="player-slider"></div><span class="audio-actual-duration">0:00</span>/<span class="audio-total-duration">0:00</span>
</div>

<div>
	<span class="fa-stack fa-lg" id="play-btn">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-play fa-stack-1x fa-inverse icon-play-pause"></i>
	</span>

	<span class="fa-stack fa-lg volume" id="volume-down-btn">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-volume-down fa-stack-1x fa-inverse"></i>
	</span>

	<div id="volume-slider"></div>

	<span class="fa-stack fa-lg volume" id="volume-up-btn">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
	</span>
</div>



<img src="http://31.37.104.42:4040/rest/getCoverArt.view?u=aurelien&p=enc:4c65656c6f6f3939&v=1.9.0&f=jsonp&c=subsonicapp&size=100&id=15333" />

<div class="inline">

	<span class="fa-stack fa-lg" id="play-btn">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-play fa-stack-1x fa-inverse icon-play-pause"></i>
	</span>

	<span class="fa-stack fa-lg volume" id="volume-down-btn">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-volume-down fa-stack-1x fa-inverse"></i>
	</span>

	<div id="volume-slider"></div>

	<span class="fa-stack fa-lg volume" id="volume-up-btn">
	  <i class="fa fa-circle fa-stack-2x"></i>
	  <i class="fa fa-volume-up fa-stack-1x fa-inverse"></i>
	</span>
</div>